.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: var(--fs-text-t3);
    font-weight: var(--weight-semi-bold);
    line-height: var(--lh-t3-normal);
    gap: 8px;
    color: var(--default-description-text);
    padding: 16px 0;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 32px 0 24px;
        font-size: var(--fs-text-t2);
        gap: 16px;
    }

    @media (min-width: 1400px) {
        margin: 0 auto;
        min-width: 0;
        width: 100%;
    }
}

.link {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 0;
}

.current {
    min-width: 0;
}

.arrow {
    margin-left: 8px;
    transform: rotate(-90deg);
    cursor: pointer;
    color: var(--default-gray-icons);

    @media (min-width: 768px) {
        margin-left: 16px;
    }
}
