[data-scope='tooltip'][data-part='trigger'] {
    display: inline-flex;
    min-width: 0;
    overflow: hidden;
}

[data-scope='tooltip'][data-part='positioner'] {
    z-index: 1504;
}

[data-scope='tooltip'][data-part='content'] {
    border-radius: 8px;
    box-shadow:
        var(--elev-3);
    outline: none;
}
